.login {
  background-color: #093545;
  width: 300px;
  font-family: "Montserrat", sans-serif;
}

.login h1 {
  text-align: center;
  font-weight: 600;
  font-size: 64px;
  line-height: 80px;
  margin-bottom: 40px;
  color: white;
}

.login form {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.login form input {
  width: 100%;
  height: 45px;
  padding: 16px 10px;
  border-radius: 6px;
  border: 1px solid rgba(0, 0, 0, 0);
  color: white;
  background-color: #224957;
  font-size: 14px;
  line-height: 24px;
}

.login form input:first-child {
  margin-bottom: 24px;
}

.login form .checkbox {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 24px 0;
}

.login form .checkbox .checkboxBg {
  width: 18px;
  height: 17px;
  background-color: #224957;
  border-radius: 4px;
}

.login form .checkbox input[type="checkbox"] {
  width: 100%;
  height: 100%;
  opacity: 0.1;
  padding: 0;
  margin: 0;
}

.login form .checkbox label {
  color: #fff;
  margin-left: 15px;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
}
.login form .checkbox input[type="checkbox"]:checked {
  accent-color: #f9fbfc;
  opacity: 0.9;
}

.login form button {
  width: 100%;
  height: 54px;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  background-color: #2bd17e;
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0);
  border-radius: 10px;
}
